mixin contacts 
      ul.contacts 
        li.contacts__item.contacts__item_phone
          a.link(href="tel:79219447129") 8-921-944-71-29
        li.contacts__item
          a.link(href="mailto:info@telemedpolis.ru") info@telemedpolis.ru
        li.contacts__item.contacts__item_insta
          a.link(href="") telemedpolis