.block_white
  .container 
    h2.heading.heading_green частые вопросы
    .faq 
      .faq__item 
        .faq__title Что такое телемедицина?
        .faq__content 
          p Телемедицина – это консультации с сертифицированными врачами высшей категории, невыходя из дома, из любой точки Мира, с помощью телефона или компьютера.
      .faq__item 
        .faq__title В каком формате возможнадистанционная консультация с врачом?
        .faq__content 
          p Консультации предоставляются в трех форматах, удобных для клиента – через сайт «Доктор рядом» https://telemed.drclinics.ru, мобильное приложение или через телефон колл-центра 8-800-550-6979 (для звонков по России бесплатно), +7 (495) 266-39-52 (для звонков из-за рубежа). К медицинскому психологу необходимо обратиться по круглосуточному бесплатному федеральному телефону СПАО «Ингосстрах» 8-800-2003-911.
      .faq__item 
        .faq__title Какое ключевое преимущество телемедицинской консультации в ИГС?
        .faq__content 
          p Конкурентная стоимость продукта при неограниченном количестве обращений
    a.btn.btn_green.btn_centered заказать полис