include logo.pug
include contacts.pug
header 
  .container 
    .header 
      +logo
      .header__cta 
        a.btn.btn_outlined.btn_centered заказать полис
      +contacts
      button.header__menu-button#menu-button