.block_white#howto
  .container 
    h2.heading.heading_green как это работает
    .swiper-container.howto 
      .swiper-wrapper 
        img.swiper-slide.howto__img(src="img/Screenshot_1.jpg", alt="")
        img.swiper-slide.howto__img(src="img/Screenshot_2.jpg", alt="")
        img.swiper-slide.howto__img(src="img/Screenshot_3.jpg", alt="")
        //- img.swiper-slide.howto__img(src="img/Screenshot_4.jpg", alt="")
        //- img.swiper-slide.howto__img(src="img/Screenshot_5.jpg", alt="")
        img.swiper-slide.howto__img(src="img/Screenshot_6.jpg", alt="")
        img.swiper-slide.howto__img(src="img/Screenshot_7.jpg", alt="")
        img.swiper-slide.howto__img(src="img/Screenshot_8.jpg", alt="")
        img.swiper-slide.howto__img(src="img/Screenshot_9.jpg", alt="")
      .slider-button-prev
      .slider-button-next