@import '../../scss/variables.scss';
.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  flex-wrap: wrap;
  &__field{
    &_green{
      border: 3px solid $color-green;
      border-radius: 11px;
      padding: 14px 0px 15px 24px;
      margin-bottom: 16px;
      width: 100%;
      &[placeholder]{
        text-transform: uppercase;
        font-weight: 700;
        font-size: 14px;
      }
    }
    &[placeholder]{
      color: $color-light-grey;
    }
    @media screen and(min-width: $tablets){
      margin-right: 14px;
      flex: 1 0 33%;
      margin-bottom: 0;
    }
  }
  &__check{
    color: $color-orange;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 10px;
    margin-bottom: 16px;
    @media screen and(min-width: $tablets){
      order: 4;
      margin-top: 15px;
    }
  }
  @media screen and(min-width: $tablets) {
    flex-direction: row;
    align-items: center;
  }
}